.box {
    height: 100vh;
    background-color: #f9fbfc;
    --primary-color: #ffd340;
}

.cardBox {
    background-color: transparent;
    padding: 8PX;
    padding-bottom: 0;
}


.card {
    background-color: #fff;
    background: #ffffff;
    box-shadow: 2PX 2PX 4PX 0PX rgba(24, 24, 24, 0.05);
    border: 1PX solid #f0f0f0;
    padding: 5PX 15PX;
    font-size: 13PX;
    border-radius: 8PX;

    .title {
        font-size: 15PX;
        font-weight: bold;
        color: #181818;
        height: 46PX;
        display: flex;
        align-items: center;
        border-bottom: 1PX solid #efefef;
        margin-bottom: 15PX;

        .imgIcon {
            width: 20PX;
            height: 20PX;
        }
    }

    .kv {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15PX;
        padding: 0 8PX;
    }

    .k {
        color: #7f7f7f;
    }

    .v {
        color: #181818;
    }
}

.scoreBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20PX;

    .text {
        font-size: 15PX;
        font-weight: bold;
        color: #181818;
        margin-bottom: 15PX;
    }

    .score {
        font-size: 31PX;
        font-weight: bolder;
        margin-bottom: 15PX;
    }
}

.rangeBox {
    display: flex;
    justify-content: center;
    margin-bottom: 20PX;
    position: relative;

    .rect {
        width: 30PX;
        height: 18PX;
        position: absolute;
        border-radius: 10PX;
        top: -3PX;
        z-index: 1;
        text-align: center;
        color: #ffffff;
    }

    .pipe {
        height: 12PX;
        position: relative;
        text-align: center;

        span {
            transform: translateY(13PX);
            font-size: 12PX;
            font-weight: bold;
            display: inline-block;
        }
    }

    .pipe:nth-child(1) {
        border-radius: 6PX 0PX 0PX 6PX;
        background-color: #2ec25b;
        color: #2ec25b;
    }

    .pipe:nth-child(2) {
        background-color: #ff7d41;
        color: #ff7d41;
    }

    .pipe:nth-child(3) {
        border-radius: 0PX 6PX 6PX 0PX;
        background-color: #f44336;
        color: #f44336;
    }
}

.remark {
    font-size: 32px;
    color: #181818;
    line-height: 19PX;
    margin-bottom: 15PX;
    line-height: 48px;
}

.btnBox {
    margin-bottom: 10PX;
}

.kefu {
    font-size: 16PX;
    font-weight: bold;
    color: #181818;
    margin: 10PX 0;
    display: flex;
    justify-content: space-between;

    .key {
        font-size: 28px;
        font-weight: normal;
        line-height: 42px;
        letter-spacing: 0px;
        color: #888888;
    }

    .val {
        font-size: 28px;
        font-weight: normal;
        line-height: 42px;
        letter-spacing: 0px;
        color: var(--primary-color);
    }
}

.area {
    margin: 10PX 0;
    font-weight: bold;
}

.evaDate {
    position: absolute;
    right: 50px;
    font-size: 32px;
    font-weight: normal;
    line-height: 48px;
    letter-spacing: 0px;
    color: #888888;
}

.tag {
    padding: 16px 24px;
    border-radius: 8px;
    color: #fff;
    font-size: 28px;
    width: fit-content;
}

.evaBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 0;

    .evaRemark {
        font-size: 28px;
        font-weight: normal;
        line-height: 42px;
        letter-spacing: 0px;
        color: #888888;
        margin: 20px 0;
    }

    .tagBox {
        display: flex;
        justify-content: center;
        gap: 20px;
        font-size: 28px;
        letter-spacing: 0px;
        color: #FFFFFF;
        flex-wrap: wrap;

        .grayTag {
            padding: 8px 12px;
            border-radius: 4px;
            background: #888888;
        }
    }
}

.cardContent {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0px;
    margin-bottom: 20px;
}

.popContent {
    font-size: 32px;
    line-height: 48px;
    padding: 30px;
}

.introBox {
    padding: 20px;

    .introTitle {
        font-weight: bold;
        margin-bottom: 10px;
    }
}

.gmsEvaBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .evaItem {
        text-align: center;
    }

    .evaTitle {
        font-size: 32px;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: 0px;
        color: #000000;
        margin-bottom: 30px;
    }

    .evaVal {
        font-size: 48px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0px;
        color: #000000;
        text-align: center;
        margin-bottom: 30px;
    }

    .intro {
        font-size: 28px;
        font-weight: normal;
        line-height: 42px;
        letter-spacing: 0px;
        color: #888888;
        text-align: center;
        margin: 20px 0;
    }
}

.noEva {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;

    .phone {
        color: #7f7f7f;
        font-size: 28px;
        margin-top: 40px;
    }
}