.index {
  background: #f9fbfc;
  height: 100vh;
  overflow: hidden;
  --primary-color: #ffd340;
}

.list-wrap {
  padding: 55px;
}

.list {
  width: 100%;
  height: 120px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.04);
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
}

.icon {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.arrow-icon {
  width: 62px;
  height: 62px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}